*.csv
__pycache__
*.txt
*.zip
.env
poetry.lock
.venv
*.epub
*.tsv
*.pdf
/data/
traces/CharacterIdentificationOutput/generator_state_trace.json
dendrogram_annotated.png
umap_projection_by_genre.png
traces/CharacterIdentificationOutput/logger_metadata.json
traces/CharacterIdentificationOutput/llm_call.jsonl
notebooks/topic_model.pkl
